# Virtual Environment
venv/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyo

# Django & Databases
db.sqlite3
*.sqlite3
*.sqlite3.*
*.bak
media/
staticfiles/

# Test Coverage
.coverage
htmlcov/
.pytest_cache/

# Local Configurations & Environments
.env
.env.*
*.log

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
